/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

@font-face {
    font-family: 'DigitalClock';
    src: url('http://localhost/font/DS-DIGII.TTF') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(135deg, #EAF6FF, #D6EAF8); /* Azul pastel */
}

/* Formulario */

#login-main {
    height: 100dvh;
}

#login-form {
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 12px;
    width: 100%;
    max-width: 360px;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(135deg, #85C1E9, #D4E6F1) border-box; /* Borde de gradiente */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover del formulario */
#login-form:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Div del formulario */
#login-form div:not(.login-form-submit) {
    margin-bottom: 1.5rem;
}

/* Etiquetas */
#login-form div label {
    color: #2C3E50; /* Azul oscuro */
    font-weight: bold;
    font-size: 1rem;
}

/* Campos de entrada */
#login-form div input[type="email"], 
#login-form div input[type="password"] {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 0.75rem;
    margin-top: 0.5rem;
    background-color: #F7FBFE; /* Azul muy claro */
    font-size: 1rem;
    transition: all 0.3s ease;
}

/* Hover y focus en los campos */
#login-form div input[type="email"]:focus, 
#login-form div input[type="password"]:focus {
    border-color: rgb(93, 173, 226); /* Azul intenso */
    outline: none;
    background-color: #EBF6FF;
    box-shadow: 0 0 8px rgba(93, 173, 226, 0.5);
}

/* Botón de enviar */
#login-form div input[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #5DADE2, #85C1E9); /* Degradado azul */
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hover del botón */
#login-form div input[type="submit"]:hover {
    background: linear-gradient(135deg, #3498DB, #5DADE2); /* Azul más intenso */
    transform: translateY(-.5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Responsividad
@media (max-width: 480px) {
    #login-form {
        padding: 1.5rem;
    }

    #login-form div input[type="email"], 
    #login-form div input[type="password"], 
    #login-form div input[type="submit"] {
        font-size: 0.9rem;
        padding: 0.6rem;
    }
} */


/* Estilos página pacientes */
/* General */
main {
    display: grid;
    place-items: center;
    height: 90dvh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;
    padding: 1rem 6% 1rem 2%;
    background-color: #3498DB; /* Azul intenso */
    color: #FFFFFF; /* Texto blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

header h3 {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: right;
}

.clock {
    font-family: 'DigitalClock', sans-serif;
    color: white;
    font-size: 4rem;
}


.patient-container {
    display: grid;
    grid-template-areas:
        "user-info user-current-medication user-current-medication"
        "user-upcoming-appointments user-upcoming-appointments user-past-appointments"
        "user-make-appointment-btn user-make-appointment-btn user-make-appointment-btn";
    grid-gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
}

/* Section Styling */
section {
    background-color: #FFFFFF;
    border: 1px solid #D6DBDF;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    /* max-width: 500px; */
}

section:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.patient-container h5 {
    font-size: 1.5rem;
    color: #2E86C1; /* Azul medio */
    margin-bottom: 1rem;
    border-bottom: 2px solid #AED6F1;
    padding-bottom: 0.5rem;
}

.patient-container ul {
    list-style: none;
    padding: 0;
}

.patient-container ul li {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    color: #5D6D7E; /* Gris oscuro */
}

.patient-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

#hide {
    display: none;
}

.patient-container table th,
.patient-container table td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #E5E8E8;
    text-align: center;
}

.patient-container table th {
    background-color: #3498DB;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.patient-container table tbody tr:nth-child(even) {
    background-color: #F8F9F9;
}

.patient-container table tbody tr:hover {
    background-color: #D6EAF8;
    /* cursor: pointer; */
}

.patient-container table tbody tr:hover *:not(.user-past-appointments table tbody tr:hover *) {
    cursor: default;
}

/* Grid Areas */
.patient-container .user-info {
    grid-area: user-info;
}

.patient-container .user-info ul li span {
    font-weight: bold
}

.patient-container .user-current-medication {
    grid-area: user-current-medication;
}

.patient-container .user-upcoming-appointments {
    grid-area: user-upcoming-appointments;
}

.patient-container .user-past-appointments {
    grid-area: user-past-appointments;
}

.patient-container .user-make-appointment-btn {
    grid-area: user-make-appointment-btn;
}

/* MODAL */
/* General */
/* Botón para pedir cita */
.user-make-appointment-btn {
    background-color: #2E86C1;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.user-make-appointment-btn:hover {
    background-color: #1A5276;
    transform: scale(1.05);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    animation: fadeIn 0.4s ease-in-out;
}

#modal-past-appointments .modal-content {
    max-width: 600px;
}

#doctor-modal .modal-content {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: none;
    animation: fadeIn 0.4s ease-in-out;
}

/* Animaciones del modal */
@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.9);
        opacity: 0;
    }
}

.modal.hide .modal-content {
    animation: fadeOut 0.4s ease-in-out;
}

/* Botón para cerrar modal */
.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #ff5252;
}

/* Estilo de los inputs y textarea dentro del modal */
.modal-content label:not(#chronic label) {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
    color: #2C3E50;
}

.modal-content select,
.modal-content input:not(input[type="checkbox"]),
.modal-content textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #D6DBDF;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 1rem;
    resize: none;
}

.modal-content h2:not(.doctor-modal .modal-content h2) {
    margin-bottom: 12px;
    font-size: 2.2rem;
}

.doctor-modal .modal-content h2 {
    margin: 12px;
    font-weight: 700;
    font-size: 2.2rem;
}


.modal-content span {
    font-weight: bold;
}

.modal-medication {
    list-style: none;
    padding-left: 12px;
}

/* Botón de envío dentro del modal */
.modal-submit-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto 0 auto;
    width: 60%;
}

.modal-submit-btn:hover {
    background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 768px) {
    .patient-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    section {
        max-width: 100%;
    }
}

/* Modal */
#doctor-modal .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    overflow-y: auto; /* Habilitar desplazamiento si es necesario */
}

#doctor-modal .modal.show {
    display: flex;
    opacity: 1;
}

#doctor-modal .modal-content {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px; /* Ampliar el ancho máximo */
    max-height: 90vh; /* Limitar la altura para evitar desbordamientos */
    overflow-y: auto; /* Agregar desplazamiento interno para contenido largo */
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#doctor-modal.hide .modal-content {
    animation: fadeOut 0.4s ease-in-out;
}

@keyframes fadeOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.9);
        opacity: 0;
    }
}

/* Botón para cerrar modal */
#doctor-modal .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333333;
    cursor: pointer;
    transition: color 0.3s ease;
}

#doctor-modal .close-btn:hover {
    color: #ff5252;
}

/* Estilo de los inputs y textarea dentro del modal */
#doctor-modal label:not(#chronic label) {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
    color: #2C3E50;
}

#doctor-modal div:not(#chronic):not(.errors) {
    border: 1.3px solid #D6DBDF;
    margin: 4px;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.main-appointment-form div .errors {
    margin: 8px;
}

#chronic {
    display: flex;
    color: #2C3E50;
    gap: 8px;
    font-weight: bold;
}

.errors span {
    text-align: center; /* Alinea el texto al centro */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    color: rgb(202, 41, 41); /* Cambia el color del texto a rojo */
    display: block;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600; /* Asegura que el texto ocupe toda la línea */
}


.doctor-container h2 {
    margin: 1rem 0 1rem 0;
}

.doctor-container span {
    margin: 0.3rem 0 0.3rem 0;
}

#doctor-modal div h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1.3rem 0;
}

#doctor-modal select,
#doctor-modal input:not(input[type="checkbox"]),
#doctor-modal textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #D6DBDF;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 1rem;
    resize: none;
}

/* Botón de envío dentro del modal */
#doctor-modal .modal-submit-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto 0 auto;
    width: 60%;
}

#doctor-modal .modal-submit-btn:hover {
    background-color: #2980b9;
}

/* Botón de envío dentro del modal */
.intra-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto 1rem auto;
    width: 30%;
}

.intra-btn:hover {
    background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 768px) {
    #doctor-modal .modal-content {
        width: 95%; /* Reducir el ancho en pantallas pequeñas */
        max-height: 85vh; /* Asegurarse de que no desborde */
    }
}

.medicines table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

.medicines table th,
.medicines table td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #E5E8E8;
    text-align: center;
}

.medicines table th {
    background-color: #3498DB;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.medicines table tbody tr:nth-child(even) {
    background-color: #F8F9F9;
}

.medicines table tbody tr:hover {
    background-color: #D6EAF8;
    cursor: pointer;
}

/* Estilo para los botones de la tabla */
.medicines table button {
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.medicines table button:hover {
    background-color: #2980B9;
}

/* * Estilos página doctor */
.doctor-container {
    display: grid;
    place-items: center;
    grid-template-areas:
        "user-info doctor-appointments-next-seven-days"
        "doctor-today-appointments doctor-today-appointments";
    grid-gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    background: linear-gradient(135deg, #EAF6FF, #D6EAF8);
}

.doctor-container .user-info {
    grid-area: user-info;
}

.doctor-container .doctor-appointments-next-seven-days {
    grid-area: doctor-appointments-next-seven-days;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-container .doctor-today-appointments {
    grid-area: doctor-today-appointments;
}

.doctor-container .doctor-appointments-next-seven-days span {
    font-size: 8rem;
    color: #2E86C1;
    font-weight: 900;
    margin: 0 auto;
}

.doctor-container .doctor-appointments-next-seven-days h5 {
    font-size: 1.5rem;
    color: #2E86C1;
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}


.doctor-container h5 {
    font-size: 1.5rem;
    color: #2E86C1;
    margin-bottom: 1rem;
    border-bottom: 2px solid #AED6F1;
    padding-bottom: 0.5rem;
}

.doctor-container .doctor-info ul {
    list-style: none;
    padding: 0;
}

.doctor-container .doctor-info ul li {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    color: #5D6D7E;
}

.doctor-container .doctor-info ul li span {
    font-weight: bold;
}

.doctor-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

.doctor-container table th,
.doctor-container table td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #E5E8E8;
    text-align: center;
}

.doctor-container table th {
    background-color: #3498DB;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.doctor-container table tbody tr:nth-child(even) {
    background-color: #F8F9F9;
}

.doctor-container table tbody tr:hover {
    background-color: #D6EAF8;
    cursor: pointer;
}

/* Estilo para los botones de la tabla */
.doctor-container table button {
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.doctor-container table button:hover {
    background-color: #2980B9;
}

/* Modal */


/* Estilos página 404 */
/* Fondo de la página */
.error-main {
    height: 100dvh;
    width: 100dvw;
    background: linear-gradient(135deg, #FFFFFF, #D6EAF8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.error-container {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #AED6F1;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/* Título del error */
.error-container h1 {
    font-size: 6rem;
    color: #5DADE2; /* Azul intenso */
    margin-bottom: 1rem;
}

/* Mensaje descriptivo */
.error-container p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 2rem;
}

/* Botón */
.error-container .back-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #85C1E9; /* Azul cielo */
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover y active del botón */
.error-container .back-button:hover {
    background-color: #5DADE2; /* Azul más intenso */
    transform: translateY(-2px);
}

.error-container .back-button:active {
    transform: translateY(0);
}